*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --bg-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-primary: #F4F4F5;
  --text-color-secondary: #A1A1AA;
  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;

  /* --brand-gradient: #FC4A1A 0%, #D7B733 100%; */

  --ff-sans: "inter", system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;
  
  --py-base: 1rem;/*py ->eixo Y verticar(para tela pequena base e o cabeçalho que ta com 16 px)*/
  --py-lg: 1.5rem;/*py ->eixo Y vertical (para tela grande "large" e a caixinhas internas que estao com 24px)*/
  --py-xl: 3rem;/*py ->eixo Y vertical( para tela grande "Xlarge" e a divisao de cada comteudo contendo 48px)*/

  --px-lg: 1.5rem; /*para dispositivo pequeno, o padding é 1.5rem, para dispositivo grande, o padding é 2rem que esta na @media -> root*/
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size:var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);
}

body {
   background-color: var(--bg-color);
}

h1, h2, h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04rem;
}

h1{
  font-size: var(--fs-2xl);
}

h2{
  font-size: var(--fs-xl);
}

h3{
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
 background: linear-gradient(
  90deg,
  var(--brand-color-primary) 0%,
  var(--brand-color-secondary) 100%
 );

 -webkit-background-clip: text;
 background-clip: text;
 color: transparent;
}

ul[role="list"] {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

@media (width >= 80em) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-2xl: 4rem;

   --py-base: 1.5rem; /*py ->eixo Y vertical(para tela grande base e o cabeçalho que ta com 24 px)*/
   --py-lg: 2.5rem; /*py ->eixo Y vertical(para tela grande "large" e a caixinhas internas que estao com 40 px)*/
   --py-xl: 5rem; /*py ->eixo Y vertical( para tela grande "Xlarge" e a divisao de cada comteudo contendo 80px)*/

   --px-lg: 2rem; /*px ->eixo X horizontal (para dispositivo grande) */
  }
}